.menu-wrapper {
  position: absolute;
  left: 0;
  width: 250px;
  height: calc(100% - 56px);
  border-top: 1px solid #fff;
  background: #343a40;
  color: #fff;

  ul {
    margin: 0;
    padding: 0;

    li {
      position: relative;
      display: flex;
      align-items: center;
      padding: 5px 10px;
      list-style-type: none;

      &:hover {
        background: #464f58;
        cursor: pointer;
      }

      span {
        margin-left: 5px;
      }

      input {
        padding-right: 20px;
      }

      .button-wrapper {
        width: 100%;
        margin-top: 15px;

        button:first-child {
          margin-right: 5px;
        }
      }

      .clear-input {
        position: absolute;
        z-index: 9999;
        right: 12px;
        top: 12px;
        color: #343a40;
      }
    }
  }
}
